<div class="container m-4 p-3">
    <table class="table table-striped-columns">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Tipo de Documento</th>
                <th>No Documento</th>
                <th>Email</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            @for (cliente of misClientes; track $index) {
            <tr>
                <td scope>{{$index+1}}</td>
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.direccion}}</td>
                <td>{{cliente.telefono}}</td>
                <td>{{cliente.tipoDocumento}}</td>
                <td>{{cliente.noDocumento}}</td>
                <td>{{cliente.email}}</td>
                <td>{{cliente.estado}}</td>
                <td>
                    <button mat-icon-button color="primary" (click)="editarCliente(cliente)"><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button color="warn" (click)="eliminarCliente(cliente._id)"> 
                        <mat-icon>delete</mat-icon>
                     </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <div class="container text-center">
        <button mat-raised-button color="primary" (click)="crearCliente()">Crear Cliente</button>
    </div>

    
<!--     @if (showMenu) {
      <app-agregar-clientes (addCustomer)="getData($event)"></app-agregar-clientes>
     }  -->
