<div class="container m-4 p-3">
    <table class="table table-striped-columns">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Tipo Documento</th>
                <th>No Documento</th>
                <th>Rol</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            @for (usuario of usuarios; track $index) {
            <tr>
                <td scope>{{$index+1}}</td>
                <td>{{usuario.nombre}}</td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.tipoDocumento}}</td>
                <td>{{usuario.noDocumento}}</td>
                <td>
                    <select class="form-control" [(ngModel)] = "usuario.rol" (change)="actualizarRol(usuario)">
                        @for (rol of roles; track $index){
                            <option [value]="rol">{{rol}}</option>
                        }
                        
                    </select>
                </td>
                <td>{{usuario.estado}}</td>
                <td>
                    <button mat-icon-button color="primary" (click)="editarUsuario(usuario)"><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button color="warn" (click)="eliminarUsuario(usuario._id)"> 
                        <mat-icon>delete</mat-icon>
                     </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <div class="container">
        <button class="btn btn-primary" (click)="crearUsuario()">Crear Usuario</button>
    </div>
